In [1]:
import os 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
os.chdir("C:/Users/sandy5290/Downloads/INPUTS")

In [3]:
bank_data = pd.read_csv("bank-full.csv",sep = ";")

In [4]:
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
bank_data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [6]:
#checking if there are any na's in dataset
bank_data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [310]:
#data types of each column
bank_data.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [7]:
# Scale quantitative variables
from sklearn import preprocessing
bank_data_num = bank_data.select_dtypes(include = 'int64')
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(bank_data_num)
bnk_num = pd.DataFrame(x_scaled)
bnk_num.columns = bank_data_num.columns

In [8]:
# Map variable to predict
dict_map = dict()
y_map = {'yes':1,'no':0}
dict_map['y'] = y_map
bank_data = bank_data.replace(dict_map)
y = bank_data['y']

In [9]:
#Dummifying cat columns
bank_data_dum = pd.get_dummies(bank_data.select_dtypes(include='object'),drop_first=True)

In [10]:
final_df = pd.concat([bnk_num,bank_data_dum,y],axis = 1)

In [12]:
final_df.head()

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown,y
0,0.519481,0.092259,0.133333,0.053070,0.0,0.0,0.0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,0.337662,0.073067,0.133333,0.030704,0.0,0.0,0.0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,0.194805,0.072822,0.133333,0.015453,0.0,0.0,0.0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
3,0.376623,0.086476,0.133333,0.018707,0.0,0.0,0.0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
4,0.194805,0.072812,0.133333,0.040260,0.0,0.0,0.0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
final_df.isnull().sum()

age                    0
balance                0
day                    0
duration               0
campaign               0
pdays                  0
previous               0
job_blue-collar        0
job_entrepreneur       0
job_housemaid          0
job_management         0
job_retired            0
job_self-employed      0
job_services           0
job_student            0
job_technician         0
job_unemployed         0
job_unknown            0
marital_married        0
marital_single         0
education_secondary    0
education_tertiary     0
education_unknown      0
default_yes            0
housing_yes            0
loan_yes               0
contact_telephone      0
contact_unknown        0
month_aug              0
month_dec              0
month_feb              0
month_jan              0
month_jul              0
month_jun              0
month_mar              0
month_may              0
month_nov              0
month_oct              0
month_sep              0
poutcome_other         0
poutcome_success       0
poutcome_unknown       0
y                      0
dtype: int64

In [15]:
#splitting the data into train and test
from sklearn.model_selection import train_test_split
X = final_df.drop('y',axis=1)
y = final_df['y']
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [16]:
# keras is a platform for building and training neural networks. 
# Sequential is a container which stores the layers in order. 
# 'Dense' is a fully connected layer feedforward layer.

import keras
from keras.layers import Dense
from keras .models import Sequential

In [17]:
x_train.shape

(31647, 42)

In [18]:
x_test.shape

(13564, 42)

In [19]:
y_train.shape

(31647,)

In [20]:
y_test.shape

(13564,)

In [21]:
# 'to_categorical' converts the class lebels to one-hot vectors.
from keras.utils import to_categorical
y_train_hot = to_categorical(y_train)
y_test_hot = to_categorical(y_test)

In [22]:
# Building a simple MLP

model = Sequential() # This initializes a sequential model to which we can keep adding layers.
model.add(Dense(20, kernel_initializer='uniform', input_dim = 42, activation='relu')) # Add a dense layer 
model.add(Dense(10, kernel_initializer='uniform', input_dim = 20, activation='relu'))
model.add(Dense(2, kernel_initializer='uniform', activation='sigmoid')) # Add output layer

In [23]:
# Setting learning and momentum
# Adam is the optimizer which is the state of the art Gradient Descent variation. 
from keras.optimizers import Adam
adam = Adam(lr=0.001)

model.compile(loss='binary_crossentropy', # CrossEntropy is the loss function. 
              optimizer=adam,                  
              metrics=['accuracy'])

In [24]:
nb_epochs = 10
# training the MLP model
history = model.fit(x_train, y_train_hot, epochs=nb_epochs, batch_size=64, validation_split=0.1)

Train on 28482 samples, validate on 3165 samples
Epoch 1/10
28482/28482 [==============================] - 3s 92us/step - loss: 0.3817 - acc: 0.8822 - val_loss: 0.3132 - val_acc: 0.8874
Epoch 2/10
28482/28482 [==============================] - 1s 30us/step - loss: 0.2904 - acc: 0.8922 - val_loss: 0.2869 - val_acc: 0.8834
Epoch 3/10
28482/28482 [==============================] - 1s 25us/step - loss: 0.2671 - acc: 0.8941 - val_loss: 0.2610 - val_acc: 0.8897
Epoch 4/10
28482/28482 [==============================] - 1s 23us/step - loss: 0.2463 - acc: 0.8988 - val_loss: 0.2395 - val_acc: 0.8945
Epoch 5/10
28482/28482 [==============================] - 1s 24us/step - loss: 0.2355 - acc: 0.9027 - val_loss: 0.2333 - val_acc: 0.8989
Epoch 6/10
28482/28482 [==============================] - 1s 23us/step - loss: 0.2301 - acc: 0.9029 - val_loss: 0.2261 - val_acc: 0.8967
Epoch 7/10
28482/28482 [==============================] - 1s 24us/step - loss: 0.2279 - acc: 0.9035 - val_loss: 0.2244 - val_acc: 0.8961
Epoch 8/10
28482/28482 [==============================] - 1s 24us/step - loss: 0.2259 - acc: 0.9040 - val_loss: 0.2217 - val_acc: 0.8986
Epoch 9/10
28482/28482 [==============================] - 1s 24us/step - loss: 0.2243 - acc: 0.9044 - val_loss: 0.2210 - val_acc: 0.8964
Epoch 10/10
28482/28482 [==============================] - 1s 23us/step - loss: 0.2226 - acc: 0.9044 - val_loss: 0.2201 - val_acc: 0.8989

In [25]:
mlp_pred = model.predict_classes(x_test)

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
confusion_matrix(y_test,mlp_pred)

array([[11549,   451],
       [  844,   720]], dtype=int64)

In [28]:
#MLP with random weights gave an accuracy of 90.45
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,mlp_pred))

0.9045266882925391

In [29]:
from sklearn import svm

In [30]:
model1= svm.SVC(C=10,kernel='rbf',class_weight={1: 5,0:0.5})
model1.fit(x_train,y_train)

SVC(C=10, cache_size=200, class_weight={1: 5, 0: 0.5}, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [31]:
svm_pred = model1.predict(x_test)

In [32]:
#svm gave an accuracy of 82.8
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,svm_pred))

0.8260100265408434

In [33]:
import numpy as np
import os
from keras.models import Model, Sequential # for defining the architectures
from keras.layers import Dense, Dropout, Input # layers for building the network
from keras.utils import to_categorical

In [34]:
#building autoencoder
nb_epoch = 10      # number of epochs
batch_size = 16    # batch size

input_img = Input(shape=(42,))
crrpt_img = Dropout(0.5)(input_img)
encoded = Dense(50, activation='sigmoid')(crrpt_img)
decoded = Dense(42, activation='sigmoid')(encoded)

autoencoder = Model(input_img,decoded)
autoencoder.compile(optimizer='adam',
                    loss='mean_squared_error')

history = autoencoder.fit(x_train, x_train,  
                    epochs=nb_epoch,
                    batch_size=batch_size,
                    shuffle=True,
                    validation_data=(x_test, x_test))

Train on 31647 samples, validate on 13564 samples
Epoch 1/10
31647/31647 [==============================] - 3s 103us/step - loss: 0.0645 - val_loss: 0.0341
Epoch 2/10
31647/31647 [==============================] - 3s 91us/step - loss: 0.0469 - val_loss: 0.0227
Epoch 3/10
31647/31647 [==============================] - 3s 91us/step - loss: 0.0441 - val_loss: 0.0175
Epoch 4/10
31647/31647 [==============================] - 3s 93us/step - loss: 0.0424 - val_loss: 0.0148
Epoch 5/10
31647/31647 [==============================] - 3s 93us/step - loss: 0.0419 - val_loss: 0.0130
Epoch 6/10
31647/31647 [==============================] - 3s 94us/step - loss: 0.0416 - val_loss: 0.0118
Epoch 7/10
31647/31647 [==============================] - 3s 91us/step - loss: 0.0413 - val_loss: 0.0111
Epoch 8/10
31647/31647 [==============================] - 3s 91us/step - loss: 0.0411 - val_loss: 0.0105
Epoch 9/10
31647/31647 [==============================] - 3s 93us/step - loss: 0.0410 - val_loss: 0.0101
Epoch 10/10
31647/31647 [==============================] - 3s 89us/step - loss: 0.0409 - val_loss: 0.0100

In [35]:
encoder = Model(input_img,encoded)
htrain_data = encoder.predict(x_train)
htest_data = encoder.predict(x_test)

In [36]:
#building second autoencoder on top of first 
nb_epoch = 10    # number of epochs
batch_size = 16    # batch size

input_img_1 = Input(shape=(50,))
crrpt_img_1 = Dropout(0.5)(input_img_1)
encoded_1 = Dense(30, activation='sigmoid')(crrpt_img_1)
decoded_1 = Dense(50, activation='sigmoid')(encoded_1)

autoencoder_1 = Model(input_img_1,decoded_1)
autoencoder_1.compile(optimizer='adam',
                    loss='mean_squared_error')

history_1 = autoencoder_1.fit(htrain_data, htrain_data,  
                    epochs=nb_epoch,
                    batch_size=batch_size,
                    shuffle=True,
                    validation_data=(htest_data, htest_data))

Train on 31647 samples, validate on 13564 samples
Epoch 1/10
31647/31647 [==============================] - 3s 105us/step - loss: 0.0452 - val_loss: 0.0253
Epoch 2/10
31647/31647 [==============================] - 3s 91us/step - loss: 0.0373 - val_loss: 0.0214
Epoch 3/10
31647/31647 [==============================] - 3s 90us/step - loss: 0.0355 - val_loss: 0.0194
Epoch 4/10
31647/31647 [==============================] - 3s 90us/step - loss: 0.0345 - val_loss: 0.0183
Epoch 5/10
31647/31647 [==============================] - 3s 89us/step - loss: 0.0337 - val_loss: 0.0175
Epoch 6/10
31647/31647 [==============================] - 3s 87us/step - loss: 0.0328 - val_loss: 0.0166
Epoch 7/10
31647/31647 [==============================] - 3s 86us/step - loss: 0.0325 - val_loss: 0.0162
Epoch 8/10
31647/31647 [==============================] - 3s 85us/step - loss: 0.0322 - val_loss: 0.0159
Epoch 9/10
31647/31647 [==============================] - 3s 93us/step - loss: 0.0319 - val_loss: 0.0156
Epoch 10/10
31647/31647 [==============================] - 3s 91us/step - loss: 0.0318 - val_loss: 0.0155

In [37]:
encoder_1 = Model(input_img_1,encoded_1)
htrain_data_1 = encoder_1.predict(htrain_data)
htest_data_1 = encoder_1.predict(htest_data)

In [38]:
# Training with unsupervised initialization for layer-1 
# of an MLP using autoencoder weights

amlp = Sequential()
amlp.add(Dropout(0.2, input_shape=(42,)))
amlp.add(Dense(50, activation='relu'))
amlp.add(Dropout(0.5))
amlp.add(Dense(30, activation='relu'))
amlp.add(Dropout(0.5))
amlp.add(Dense(2, activation='sigmoid'))

amlp.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [39]:
amlp.layers

[<keras.layers.core.Dropout at 0x1818f93c4a8>,
 <keras.layers.core.Dense at 0x1818f93c400>,
 <keras.layers.core.Dropout at 0x1818f93c358>,
 <keras.layers.core.Dense at 0x1818f93c048>,
 <keras.layers.core.Dropout at 0x1818f935ac8>,
 <keras.layers.core.Dense at 0x1818f9166a0>]

In [40]:
#using weights of autoencoder and autoencoder1 in first and second layer of amlp
nb_epoch = 10    # number of epochs
batch_size = 32
amlp.layers[1].set_weights(autoencoder.layers[2].get_weights())   # Import the encoder weights of autoencoder  
amlp.layers[3].set_weights(autoencoder_1.layers[2].get_weights())  # Import the encoder weights of autoencoder1

history = amlp.fit(x_train, y_train_hot,
                    batch_size=batch_size,
                    epochs=nb_epoch,
                    validation_data=(x_test, y_test_hot))

Train on 31647 samples, validate on 13564 samples
Epoch 1/10
31647/31647 [==============================] - 3s 89us/step - loss: 0.7072 - acc: 0.8141 - val_loss: 0.3269 - val_acc: 0.8847
Epoch 2/10
31647/31647 [==============================] - 2s 69us/step - loss: 0.3751 - acc: 0.8800 - val_loss: 0.3249 - val_acc: 0.8847
Epoch 3/10
31647/31647 [==============================] - 2s 63us/step - loss: 0.3495 - acc: 0.8829 - val_loss: 0.3100 - val_acc: 0.8849
Epoch 4/10
31647/31647 [==============================] - 2s 62us/step - loss: 0.3375 - acc: 0.8839 - val_loss: 0.3094 - val_acc: 0.8848
Epoch 5/10
31647/31647 [==============================] - 2s 64us/step - loss: 0.3277 - acc: 0.8865 - val_loss: 0.3014 - val_acc: 0.8907
Epoch 6/10
31647/31647 [==============================] - 2s 63us/step - loss: 0.3271 - acc: 0.8847 - val_loss: 0.2987 - val_acc: 0.8875
Epoch 7/10
31647/31647 [==============================] - 2s 63us/step - loss: 0.3220 - acc: 0.8849 - val_loss: 0.2938 - val_acc: 0.8881
Epoch 8/10
31647/31647 [==============================] - 2s 63us/step - loss: 0.3156 - acc: 0.8869 - val_loss: 0.2851 - val_acc: 0.8913
Epoch 9/10
31647/31647 [==============================] - 2s 64us/step - loss: 0.3124 - acc: 0.8865 - val_loss: 0.2839 - val_acc: 0.8889
Epoch 10/10
31647/31647 [==============================] - 2s 63us/step - loss: 0.3069 - acc: 0.8868 - val_loss: 0.2775 - val_acc: 0.8888

In [41]:
encoder_pred = amlp.predict_classes(x_test)

In [42]:
#Building MLP with auto-encoder weights gave an accuracy of 88.88
accuracy_score(y_test,encoder_pred)

0.8888233559422

In [358]:
model1= svm.SVC(C=10,kernel='rbf',class_weight={1: 5,0:0.5})
model1.fit(htrain_data,y_train)

SVC(C=10, cache_size=200, class_weight={1: 5, 0: 0.5}, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [292]:
svm_pred = model1.predict(htest_data)

In [294]:
#building svm using auto-encoder weights gave an accuracy of 81.7
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,svm_pred))

0.8173842524329107

In [ ]:
#For this dataset building mlp with random weights gave me accuracy of 90.52. So choosing mlp as final model for this data set